<div class="products-container">
  <h1>Lista de Productos</h1>
  <button class="new-button" (click)="onAdd()">+ Nuevo</button>
  <table class="products-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>cantidad</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.amount }}</td>
        <td>
          <button class="edit-button mr-5" (click)="onEdit(product)">Editar</button>
          <button class="delete-button" (click)="onDelete(product.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal para agregar/editar productos -->
<app-product-modal
  *ngIf="selectedProduct"
  [product]="selectedProduct"
  (save)="onSave($event)"
></app-product-modal>
