<div class="dashboard">
  <h1>Sistema web de inventarios</h1>
  <hr>
  <div class="cards-container">
    <div
      class="card"
      *ngFor="let item of dashboardItems"
      (click)="navigateTo(item.route)"
    >
      <div class="icon" [ngStyle]="{'background-color': item.bgColor}">
        <i class="bx {{item.icon}} nav_icon"></i> <!-- Aquí se usa la clase del ícono -->
      </div>
      <div class="info">
        <h3>{{ item.title }}</h3>
        <p>{{ item.count }}</p>
      </div>
    </div>
  </div>
</div>
